# Nuxt dev/build outputs
.output
.data
.nuxt
.nitro
.cache
dist

# Node dependencies
node_modules

# Logs
logs
*.log

# Misc
.DS_Store

# Local env files
.env
.env.*
!.env.example
.nuxt/app.config.mjs
.nuxt/components.d.ts
.nuxt/imports.d.ts
.nuxt/nitro.json
.nuxt/nuxt.d.ts
.nuxt/nuxt.json
.nuxt/nuxt.node.d.ts
.nuxt/nuxt.shared.d.ts
.nuxt/tsconfig.app.json
.nuxt/tsconfig.json
.nuxt/tsconfig.node.json
.nuxt/tsconfig.server.json
.nuxt/tsconfig.shared.json
.nuxt/dev/index.mjs
.nuxt/dev/index.mjs.map
.nuxt/dist/server/client.manifest.mjs
.nuxt/dist/server/server.mjs
.nuxt/manifest/latest.json
.nuxt/manifest/meta/dev.json
.nuxt/schema/nuxt.schema.d.ts
.nuxt/schema/nuxt.schema.json
.nuxt/tailwind/postcss.mjs
.nuxt/types/app.config.d.ts
.nuxt/types/build.d.ts
.nuxt/types/imports.d.ts
.nuxt/types/layouts.d.ts
.nuxt/types/middleware.d.ts
.nuxt/types/modules.d.ts
.nuxt/types/nitro-config.d.ts
.nuxt/types/nitro-imports.d.ts
.nuxt/types/nitro-middleware.d.ts
.nuxt/types/nitro-nuxt.d.ts
.nuxt/types/nitro-routes.d.ts
.nuxt/types/nitro.d.ts
.nuxt/types/plugins.d.ts
.nuxt/types/runtime-config.d.ts
